body {
    background-color: grey;
    color: #d29e0f;
}

.btn {
    cursor: pointer;
}

.clicked {
    color: yellow;
}

.form, .greetings {
    display: none;
}

.showing {
    display: block;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    animation: fadein 5s linear;
}

